Package: singularity-wrapper
Version: 1.1
Architecture: all
Maintainer: Thomas Hamel <thomas-externe.hamel@edf.fr>
Installed-Size: 79
Depends: build-essential, debhelper, debootstrap, python3, python3-apt, python3-distutils-extra, python3-jinja2, singularity-container (>= 2.4), squashfs-tools
Section: admin
Priority: optional
Description: Create and build wrapper packages around singularity images
 This package provides a script that permits to create packages that provides
 a wrapper around a singularity image with a specific package inside.
 The script can also be used inside the package to re-generate the singularity
 image.
